import APIError from '#drivers/api-error';

export type SuccessResponse = {
    payload: object;
    statusCode: number;
};


export type ServiceResponse = APIError | SuccessResponse;

//NOTE: This class is for use by code within services folder only.
export default class Service {
    static rejectResponse(error: APIError): APIError {
        return error;
    }

    static successResponse(payload: object, statusCode = 200): SuccessResponse {
        return { payload, statusCode };
    }
}
