{{>license}}
{{#models}}
{{#model}}
{{#isEnum}} export enum {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}} {
{{#allowableValues}}{{#values}}{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}} = '{{.}}'{{^-last}},{{/-last}}{{/values}}{{/allowableValues}}
};{{/isEnum}}
{{/model}}
{{/models}}

