{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
{{#-first}}
export * from '#controllers/{{#fnDashize}}{{classname}}{{/fnDashize}}';
{{/-first}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}


